
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image:  url(https://cdn.sentinels.gg/images/cards/default.jpg);
    background-position: center; 
    background-size: cover;
}
